name: Deploy to Pages

on:
    push:
        branches: [main] # branch to trigger deployment

jobs:
    pages:
        # TODO: run on self-hosted?
        runs-on: ubuntu-latest
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        permissions:
            pages: write
            id-token: write
        steps:
            # Action usage: https://github.com/marketplace/actions/sphinx-to-github-pages
            - id: deployment
              uses: sphinx-notes/pages@v3
              with:
                  publish: true
